body {
    background-image: url("../images/bg.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

#headText {
    text-align: center;
    font-size: 45px;
    color: antiquewhite;
}

#main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#main-container #upload {
    background-color: rgb(67, 61, 61);
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid white;
    border-radius: 15px;
}

#main-container #upload #uploadImage {
    content: url("../images/uploadImage.webp");
    /* border: 2px solid white; */
}

#upload label {
    font-size: 20px;
    color: aliceblue;
}

.uploadClass {
    border: 2px solid white;
    border-radius: 5px;
    height: 350px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(159, 185, 151, 0.666);
}

#main-container #upload .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid white; */
    align-items: center;
    border: 2px ;
}

#main-container #upload .buttons button:hover {
    background-color: rgba(222, 233, 12, 0.724);
    cursor: pointer;
    border: 3px solid white;
    color: rgb(7, 138, 7);
}

#main-container #upload .buttons input[type="file"] {
    /* background-color: rgb(194, 240, 156); */
    height: 35px;
    width: 150px;
    /* padding: 10px; */
    font-size: 24px;
    padding-top: 10px;
    display: inline-block;
    /* border-radius: 10px; */
}

#main-container #upload .buttons button {
    background-color: rgb(16, 98, 0);
    height: 32px;
    width: 100px;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 20px;
    align-items: baseline;
    padding-left: 0px;
}

#main-container #result {
    background-color: rgb(111, 255, 0);
    height: 400px;
    width: 600px;
    border-radius: 15px;
    
}

#main-container #result .resultClass
{
    border: 2px solid red;
    height: 300px;
    width: 100;
}